<%= form_for(@vkontakte_client) do |f| %>
  <% if @vkontakte_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vkontakte_client.errors.count, "error") %> prohibited this vkontakte_client from being saved:</h2>

      <ul>
      <% @vkontakte_client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :day_limit %><br />
    <%= f.number_field :day_limit %>
  </div>
  <div class="field">
    <%= f.label :all_limit %><br />
    <%= f.number_field :all_limit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
