
<h1>Объявления</h1>

<table class="table table-striped">
  <tr>
    <th>Имя</th>
    <th>Кампания</th>
    <th>Клиент</th>
    <th>Статус</th>
    <th>Одобрено</th>
    <th>Лимит</th>
    <th>Cpc</th>
    <th>Cpm</th>
    <th>Disclaimer</th>
  </tr>

<% @vkontakte_ads.each do |vkontakte_ad| %>
  <tr>
   
    <td><%= link_to vkontakte_ad.name.html_safe, vkontakte_ad %></td>
    <td><%= link_to vkontakte_ad.vkontakte_campaign.name.html_safe, vkontakte_ad.vkontakte_campaign %></td>
    <td><%= link_to vkontakte_ad.vkontakte_campaign.vkontakte_client.name, vkontakte_ad.vkontakte_campaign.vkontakte_client %></td>
    <td><%= vkontakte_ad.status %></td>
    <td><%= vkontakte_ad.approved %></td>
    <td id="curr"><%= number_to_currency(vkontakte_ad.all_limit) %></td>
    <td><%= vkontakte_ad.cpc %></td>
    <td><%= vkontakte_ad.cpm %></td>
    <td><%= vkontakte_ad.disclaimer %></td>
  </tr>
<% end %>
</table>

<br />
