<p id="notice"><%= notice %></p>
<ul class="breadcrumb">
   <li><%= link_to 'Клиенты', vkontakte_clients_path %><span class="divider">/</span></li>
   <li><%= link_to 'Кампании', vkontakte_campaigns_path %><span class="divider">/</span></li>
  
</ul>
<h2>
  
  <%= @vkontakte_ad.name %>
</h2>

<p>
  <b>Campaign:</b>
  <%= @vkontakte_ad.campaign_id %>
</p>

<p>
  <b>Vkontakte campaign:</b>
  <%= @vkontakte_ad.vkontakte_campaign %>
</p>

<p>
  <b>Name:</b>
  <%= @vkontakte_ad.name %>
</p>

<p>
  <b>Status:</b>
  <%= @vkontakte_ad.status %>
</p>

<p>
  <b>Approved:</b>
  <%= @vkontakte_ad.approved %>
</p>

<p>
  <b>All limit:</b>
  <%= @vkontakte_ad.all_limit %>
</p>

<p>
  <b>Cpc:</b>
  <%= @vkontakte_ad.cpc %>
</p>

<p>
  <b>Cpm:</b>
  <%= @vkontakte_ad.cpm %>
</p>

<p>
  <b>Disclaimer:</b>
  <%= @vkontakte_ad.disclaimer %>
</p>



