<p id="notice"><%= notice %></p>

<p>
  <b>Ad:</b>
  <%= @vkontakte_ad.ad_id %>
</p>

<p>
  <b>Campaign:</b>
  <%= @vkontakte_ad.campaign_id %>
</p>

<p>
  <b>Vkontakte campaign:</b>
  <%= @vkontakte_ad.vkontakte_campaign %>
</p>

<p>
  <b>Name:</b>
  <%= @vkontakte_ad.name %>
</p>

<p>
  <b>Status:</b>
  <%= @vkontakte_ad.status %>
</p>

<p>
  <b>Approved:</b>
  <%= @vkontakte_ad.approved %>
</p>

<p>
  <b>All limit:</b>
  <%= @vkontakte_ad.all_limit %>
</p>

<p>
  <b>Cpc:</b>
  <%= @vkontakte_ad.cpc %>
</p>

<p>
  <b>Cpm:</b>
  <%= @vkontakte_ad.cpm %>
</p>

<p>
  <b>Disclaimer:</b>
  <%= @vkontakte_ad.disclaimer %>
</p>


<%= link_to 'Edit', edit_vkontakte_ad_path(@vkontakte_ad) %> |
<%= link_to 'Back', vkontakte_ads_path %>
