
<h1>Кампании</h1>

<table class="table table-striped">
  <tr>
    <th>Имя</th>
    <th>Клиент</th>
    <th>Status</th>
    <th id="curr">Дневной лимит</th>
    <th id="curr">Общий лимит</th>
    <th>Старт</th>
    <th>Стоп</th>
  </tr>

<% @vkontakte_campaigns.each do |vkontakte_campaign| %>
  <tr>
    <td><%= link_to vkontakte_campaign.name, vkontakte_campaign %></td>
    <td><%= link_to vkontakte_campaign.vkontakte_client.name.html_safe, vkontakte_campaign.vkontakte_client %></td>
    <td><%= vkontakte_campaign.status %></td>
    <td id="curr"><%= number_to_currency vkontakte_campaign.day_limit %></td>
    <td id="curr"><%= number_to_currency vkontakte_campaign.all_limit %></td>
    <td><%= vkontakte_campaign.start_time %></td>
    <td><%= vkontakte_campaign.stop_time %></td>
  </tr>
<% end %>
</table>

<br />
